.grid-layout, .list-layout {
    border: 1px solid black;
    height: 100%;
    padding: 40px 20px;
}

.grid-layout > div, .list-layout > div {
    padding: 8px;
}

.grid-layout {
    display: flex;
    flex-direction: column;
}

.list-layout {
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}