.note-container:hover {
    .btn-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        aspect-ratio: 1;
    }

    .bottom-icons {
        display: flex;
        align-items: center;
        aspect-ratio: 1;
        height: 28px;
    }
}




