.modal-note-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.modal-note-container button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-note {
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 12px;
    border-radius: 8px;
    width: 600px;
    min-height: 400px;
    background-color: white;
}

.modal-title {
    display: flex;
    height: 40px;
    font-size: 22px;
}

.modal-title input {
    flex-grow: 1;
    outline: none;
    padding: 0 8px;
}

.modal-title button {
    height: 100%;
    aspect-ratio: 1;
}

.modal-title button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.modal-note textarea {
    outline: none;
    flex-grow: 1;
    resize: none;
    padding: 20px 8px;
}

.modal-bottom-icons {
    height: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.modal-icon {
    height: 100%;
    aspect-ratio: 1;
}

.modal-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-close {
    margin-left: auto;
    height: 100%;
    width: 80px;
}

.modal-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

