.note-maker-title-container {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px;
}

.note-maker-body {
    padding: 12px 4px;
    min-height: 48px;
    resize: none;
    outline: none;
}

.note-maker-body::placeholder {
    font-weight: 500;
    color: #6a6a6a;
}

.bottom-icons {
    display: flex;
    height: 40px;
    padding: 4px;
}

.bottom-icon-list {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-grow: 1;
}

.bottom-icon-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
}

#note-maker-close {
    width: 80px;;
}

#note-maker-close:hover {
    border-radius: 8px;
}