.grid-notes-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.note-container.grid {
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 160px;
    padding: 12px 12px 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: .875rem;
}

.note-container.grid div {
    display: flex;
}

.note-container.grid button {
    display: none;
}

.note-container.grid button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}